.background-all-pizza{
    background: rgba(0, 0, 0, 0.70) url(../../../images/bg-pizza-2.jpg);
        background-blend-mode: darken;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
}